DB_HOST=localhost
DB_PORT=5433
DB_NAME=avr_db
DB_USER=avr_user
DB_PASSWORD=strong_password_herepython -m src.main

TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
API_BASE_URL=http://localhost:8000
PUBLIC_API_BASE_URL=http://localhost:8000
